@using AirWeb.WebApp.Platform.PageModelHelpers
@model AirWeb.Domain.ValueObjects.Address?
@if (Model is null || Model.IsEmpty)
{
    <span class="text-body-secondary">@SelectOptions.PlaceholderNotEntered</span>
}
else
{
    @Model.OneLine
}
