@using AirWeb.AppServices.Core.Utilities
@model AirWeb.Domain.Core.Entities.ValueObjects.DateRange
@{
    var format = (string?)ViewData["Format"] ?? DateTimeFormats.LongDate;
    var connector = (string?)ViewData["Connector"] ?? " to ";
}
@if (Model.EndDate is null && Model.StartDate == default)
{
    <span class="text-body-secondary">@DefaultText.NotAvailable</span>
}
else if (Model.EndDate is null || Model.EndDate == Model.StartDate)
{
    @Model.StartDate.ToString(format)
}
else
{
    var start = Model.StartDate.ToString(format);
    var end = Model.EndDate.ToString(format);

    @if (Model.StartDate.Year == Model.EndDate.Value.Year)
    {
        if (Model.StartDate.Month == Model.EndDate.Value.Month)
        {
            start = Model.StartDate.ToString("MMMM\u00a0d");
            end = Model.EndDate.ToString("d, yyyy");
        }
        else
        {
            start = Model.StartDate.ToString("MMMM\u00a0d");
        }
    }

    @string.Join($"{connector}", start, end)
}
