@using AirWeb.WebApp.Platform.Constants
@using AirWeb.WebApp.Platform.PageModelHelpers
@model DateTimeOffset?
@if (Model is null)
{
    <span class="text-body-secondary fw-lighter">@DefaultText.PlaceholderNotEntered</span>
}
else
{
    @Model.Value.ToString(DateTimeFormatConstants.LongDateTimeFormat)
}
