@using AirWeb.AppServices.Core.Utilities
@model DateTimeOffset?
@{
    var placeholder = (string?)ViewData["Placeholder"] ?? DefaultText.PlaceholderNotEntered;
}
@if (Model is null)
{
    <span class="text-body-secondary fw-lighter">@placeholder</span>
}
else
{
    @Model.Value.LocalDateTime.ToString(DateTimeFormats.LongDateTime)
}
