@model GaEpd.AppLibrary.Domain.Entities.INamedEntity?
@{
    var placeholder = (string?)ViewData["Placeholder"] ?? DefaultText.PlaceholderNotEntered;
}
@if (Model is null || string.IsNullOrEmpty(Model.Name))
{
    <span class="text-body-secondary fw-lighter">@placeholder</span>
}
else
{
    @Model.Name
}
