@using AirWeb.Domain.DataProcessing
@using AirWeb.WebApp.Platform.PageModelHelpers
@model string?
@{
}
@if (string.IsNullOrEmpty(Model))
{
    <span class="text-body-secondary fw-lighter">@SelectOptions.PlaceholderNotEntered</span>
}
else
{
    @if (Regexes.EmailRegex().IsMatch(Model))
    {
        <a href="mailto:@Model">@Model</a>
    }
    else
    {
        @Model
    }
}
