@using AirWeb.AppServices.Utilities
@model DateOnly?
@{
    var placeholder = ViewData.ContainsKey("Placeholder") ? (string)ViewData["Placeholder"]! : DefaultText.PlaceholderNotEntered;
}
@if (Model is null)
{
    <span class="text-body-secondary fw-lighter">@placeholder</span>
}
else
{
    @Model.Value.ToString(DateTimeFormats.ShortDate)
}
