@model string?
@{
    var placeholder = (string?)ViewData["Placeholder"] ?? DefaultText.PlaceholderNotEntered;
}
@if (string.IsNullOrEmpty(Model))
{
    <span class="text-body-secondary fw-lighter">@placeholder</span>
}
else
{
    @Model
}
