@model string
@if (Model == ViewData["ValidatingSection"]!.ToString())
{
    <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
        <partial name="Shared/_AppIconsPartial" model="@AppIcon.WarningIcon" view-data="new ViewDataDictionary(ViewData)"
                 view-data-CssClass="@("me-2")" />
    </div>
}
else
{
    <div class="alert alert-danger validation-summary-valid d-flex align-items-center" role="alert" data-valmsg-summary="true">
        <partial name="Shared/_AppIconsPartial" model="@AppIcon.WarningIcon" view-data="new ViewDataDictionary(ViewData)"
                 view-data-CssClass="@("me-2")" />
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>
}
