@page
@using AirWeb.WebApp.Platform.Settings
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Facilities";
}

<h1>@ViewData["Title"]</h1>

<form method="post" class="row my-3" role="search">
    <label class="visually-hidden" for="FindId">Find by Facility ID</label>
    <div class="input-group w-auto my-2">
        <input id="FindId" asp-for="FindId" type="search" aria-label="Search"
               placeholder="Find by Facility ID" class="form-control" />
        <button class="btn btn-primary" type="submit">View</button>
    </div>
    <span asp-validation-for="FindId" class="text-danger-emphasis"></span>
</form>

@if (AppSettings.DevSettings.UseDevSettings && AppSettings.DevSettings.UseInMemoryIaipData)
{
    <p>Here is a short list of facilities for testing purposes.</p>
}
else
{
    <p>The following list includes all facilities in the IAIP that have been approved within the IAIP facility creator
        tool.</p>
}

<ul>
    @foreach (var (facilityId, facilityName) in Model.Facilities)
    {
        <li>
            <a asp-page="/Facility/Details" asp-route-facilityId="@facilityId"
               class="link-underline link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2">
                @facilityId <span class="link-body-emphasis">–</span> @facilityName
            </a>
        </li>
    }
</ul>

@section Footer {
    @if (!AppSettings.DevSettings.UseDevSettings || !AppSettings.DevSettings.UseInMemoryIaipData)
    {
        <div class="bg-info-subtle py-2 border-bottom d-print-none">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <small>
                            * <em>Note:</em> This page displays data from the IAIP, which is refreshed every 24&nbsp;hours.
                            If it appears out of date, you can manually refresh the data.
                        </small>
                    </div>
                    <div class="col-auto my-0 ms-3">
                        <a asp-route-refresh="true" class="btn btn-sm btn-outline-info icon-link">
                            <svg class="bi">
                                <use href="/images/app-icons.svg#app-icon-arrow-clockwise"></use>
                            </svg>
                            Refresh Page
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
