@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Facilities";
}

<h1>@ViewData["Title"]</h1>

<p>
    Here is a list of facilities for testing purposes.
</p>

<ul>
    @foreach (var (facilityId, facilityName) in Model.Facilities)
    {
        <li>
            <a asp-page="/Facility/Details" asp-route-facilityId="@facilityId"
               class="link-underline link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2">
                @facilityId <span class="link-body-emphasis">–</span> @facilityName
            </a>
        </li>
    }
</ul>
