@page
@using AirWeb.WebApp.Pages.Shared
@using AirWeb.WebApp.Platform.Settings
@model MapModel
@{
    ViewData["Title"] = "Facility Map Search";
}

<h1>@ViewData["Title"]</h1>

<p class="lead">
    This tool displays facilities from the IAIP that have been approved within the IAIP facility creator
    tool and have latitude/longitude data. 
    If any location data is incorrect, it can be corrected in the IAIP.
</p>
<div id="facility-map" class="border border-secondary"></div>
<p class="mt-3"><em>Note: Portable sources (county code 777) are excluded.</em></p>

@section Scripts {
    <script>
        const facilities = @Html.Raw(Model.FacilitiesAsJson);
    </script>
    <script src="~/lib/leaflet/dist/leaflet.min.js"></script>
    <script src="~/lib/leaflet.markercluster/dist/leaflet.markercluster.min.js"></script>
    <script src="~/lib/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <script src="~/js/facilities/leaflet.permalink.min.js"></script>
    <script src="~/js/facilities/mapInit.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.markercluster/dist/MarkerCluster.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.markercluster/dist/MarkerCluster.Default.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
}

@section Footer {
    <partial name="Shared/_IaipReloadPartial" />
}
