@page
@using AirWeb.WebApp.Pages.Shared
@using AirWeb.WebApp.Platform.Settings
@model MapModel
@{
    ViewData["Title"] = "Facility Map Search";
}

<h1>@ViewData["Title"]</h1>

<p class="lead">
    This tool displays facilities from the IAIP that have been approved within the IAIP facility creator
    tool and have latitude/longitude data. If any location data is incorrect, it can be corrected in the IAIP.
</p>

<div id="FacilityMap" class="facility-map"></div>

@section Scripts {
    <script>
        const facilities = @Html.Raw(Model.FacilitiesAsJson);
    </script>
    <script src="~/lib/leaflet/dist/leaflet.min.js"></script>
    <script src="~/lib/leaflet.markercluster/dist/leaflet.markercluster.min.js"></script>
    <script src="~/lib/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <script src="~/js/facilities/mapInit.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.markercluster/dist/MarkerCluster.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.markercluster/dist/MarkerCluster.Default.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
}

@section Footer {
    @if (AppSettings.ConnectToIaip)
    {
        <div class="bg-info-subtle py-2 border-bottom d-print-none">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <small>
                            * <em>Note:</em> This page displays data from the IAIP, which is refreshed every 24&nbsp;hours.
                            If it appears out of date, you can manually refresh the data.
                        </small>
                    </div>
                    <div class="col-auto my-0 ms-3">
                        <a asp-route-refresh="true" class="btn btn-sm btn-outline-info icon-link">
                            <partial name="Shared/_AppIconsPartial" model="@AppIcon.Refresh" />
                            Refresh IAIP Data
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}
