@page "{id?}"
@using AirWeb.WebApp.Platform.Settings
@model SourceTestsModel
@{
    ViewData["Title"] = $"Facility {Model.Facility!.Id} Source Tests";
}

<h1>
    <partial name="Shared/FacilityPartials/_FacilityAirsName" model="Model.Facility" />
</h1>
<h2>Source Tests</h2>

@if (!Model.SourceTests.Any())
{
    <p>
        <em>None.</em>
    </p>
}
else
{
    <partial name="Shared/CompliancePartials/_SourceTestsTable" model="Model.SourceTests"
             view-data="new ViewDataDictionary(ViewData)" view-data-HideFacility="true" />
}

@section Footer {
    @if (!AppSettings.DevSettings.UseDevSettings || AppSettings.DevSettings.ConnectToIaipDatabase)
    {
        <div class="bg-info-subtle py-2 border-bottom d-print-none">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <small>
                            * <em>Note:</em> This page displays data from the IAIP, which is refreshed every 24&nbsp;hours.
                            If it appears out of date, you can manually refresh the data.
                        </small>
                    </div>
                    <div class="col-auto my-0 ms-3">
                        <a asp-route-facilityId="@Model.Id" asp-route-refresh="true"
                           class="btn btn-sm btn-outline-info icon-link">
                            <svg class="bi">
                                <use href="/images/app-icons.svg#app-icon-arrow-clockwise"></use>
                            </svg>
                            Refresh IAIP Data
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}
