@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model AirWeb.AppServices.Enforcement.EnforcementActionQuery.ResponseRequestedViewDto

<div class="mt-2">
    @if (Model.IsResponseReceived)
    {
        <div class="mb-1">
            <em>
                Response received
                @Html.DisplayFor(_ => Model.ResponseReceived, DisplayTemplate.ShortDateOnlyNullable):
            </em>
        </div>
        if (Model.ResponseComment != null)
        {
            <blockquote class="ps-2 border-start border-3 text-break text-pre-line">@Model.ResponseComment</blockquote>
        }
    }
</div>
