@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model (AirWeb.AppServices.Enforcement.EnforcementActionQuery.ResponseRequestedViewDto dto, bool userCanEdit)

@if (Model.dto.ResponseRequested)
{
    @if (Model.dto.ResponseReceived == null)
    {
        <div><strong>Response requested.</strong></div>
        @if (Model.userCanEdit)
        {
            <button type="button" name="addActionResponse" value="@Model.dto.Id.ToString()" class="btn btn-sm btn-outline-primary mt-2">
                Add response
            </button>
        }
    }
    else
    {
        @if (Model.dto.ResponseComment != null)
        {
            <div><em>Response
                    received @Html.DisplayFor(_ => Model.dto.ResponseReceived, DisplayTemplate.ShortDateOnlyNullable):</em>
            </div>
            <div>@Model.dto.ResponseComment</div>
        }
        else
        {
            <div><em>Response
                    received @Html.DisplayFor(_ => Model.dto.ResponseReceived, DisplayTemplate.ShortDateOnlyNullable).</em>
            </div>
        }
    }
}
else
{
    <div><em>No response requested.</em></div>
}
