@using AirWeb.WebApp.Pages.Shared.DisplayTemplates
@model AirWeb.AppServices.Enforcement.EnforcementActionQuery.ResponseRequestedViewDto

@if (Model.ResponseRequested)
{
    @if (Model.ResponseReceived == null)
    {
        <div>
            <strong>Response requested.</strong>
            <a class="link-primary link-offset-2"><small>Add response</small></a>
        </div>
    }
    else
    {
        <div><strong>Response received
                @Html.DisplayFor(dto => dto.ResponseReceived, DisplayTemplate.ShortDateOnlyNullable).</strong></div>
        @if (Model.ResponseComment != null)
        {
            <div>@Model.ResponseComment</div>
        }
    }
}
else
{
    <div><strong>No response requested.</strong></div>
}
