@model AirWeb.AppServices.Compliance.Enforcement.EnforcementActionQuery.ResponseRequestedViewDto

<partial name="_Partials/_ResponseDetails" model="Model" />
@if (!Model.IsResponseReceived)
{
    <div class="mt-2">
        @if (Model.ResponseRequested)
        {
            <strong>Response requested.</strong>
        }
        else
        {
            <em>No response requested.</em>
        }
    </div>
}
