@model (string FacilityId, string FacilityName)
<a asp-page="/Facility/Details" asp-route-id="@Model.FacilityId"
   class="link-underline link-underline-opacity-25 link-underline-opacity-75-hover link-offset-2">
    @Model.FacilityId <span class="link-body-emphasis">–</span> @Model.FacilityName
</a>
