@model (string FacilityId, string FacilityName)
<a asp-page="/Facility/Details" asp-route-facilityId="@Model.FacilityId"
   class="link-underline link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2">
    @Model.FacilityId <span class="link-body-emphasis">–</span> @Model.FacilityName
</a>
