@page
@model ThrowErrorModel
@{
    ViewData["Title"] = "Error Test";
}
<h1 class="text-danger-emphasis">@ViewData["Title"]</h1>

@if (string.IsNullOrEmpty(Model.ShortCode))
{
    <ul>
        <li>
            <a asp-page-handler="Handled">Throw a handled exception.</a>
        </li>
        <li>
            <a asp-page-handler="Unhandled">Throw an unhandled exception.</a>
        </li>
    </ul>
}
else
{
    <p>Error code: @Model.ShortCode</p>
}
