@model IList<IaipDataService.Facilities.Pollutant>
@if (Model.Any())
{
    <ul>
        @foreach (var pollutant in Model)
        {
            <li>@pollutant.Description <span class="text-body-tertiary">(@pollutant.Code)</span></li>
        }
    </ul>
}
else
{
    <span class="text-body-secondary fw-lighter">@DefaultText.PlaceholderNone</span>
}
