@page "{id:Guid?}"
@using AirWeb.WebApp.Pages.Shared.EditorTemplates
@model EditModel
@{
    ViewData["Title"] = $"Edit {Model.ThisOption.SingularName}";
    ViewData["NoAnchors"] = "True";
}

<h1>Edit @Model.ThisOption.SingularName</h1>

<partial name="Admin/Maintenance/_MaintenanceItemEditWarning" model="Model.ThisOption" />

<h2>@Model.OriginalName</h2>

<div class="p-3 border rounded-3 bg-light-subtle">
    <form method="post">
        <div class="col-md-8 mb-3">
            <div class="form-floating">
                @Html.EditorFor(m => m.Item.Name, EditorTemplate.Input)
            </div>
        </div>
        <div class="mb-3">
            @Html.EditorFor(m => m.Item.Active, EditorTemplate.Checkbox)
        </div>
        <partial name="Shared/_SubmitCancelButtons" />
        <input asp-for="OriginalName" type="hidden" />
    </form>
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}
