@page
@using AirWeb.WebApp.Pages.Shared.Components.Notifications
@model IndexModel
@{
    ViewData["Title"] = "Air Branch Web Application";
}

<vc:notifications />

<h1>@ViewData["Title"]</h1>

<p>Coming Soon: Staff Dashboard</p>

<div class="card mt-4 border-info shadow">
    <div class="card-header text-bg-info">
        <h2 class="h5">Some helpful temporary testing links</h2>
    </div>
    <div class="card-body">
        <ul>
            <li>
                <a asp-page="/Facility/Index">Facilities</a>
            </li>
            <li>
                <a asp-page="/Enforcement/Index">Enforcement Cases</a>
            </li>
            <li>
                <a asp-page="/Compliance/FCE/Index">FCEs</a>
            </li>
            <li>
                <a asp-page="/Compliance/Work/Index">Compliance Work</a>
            </li>
            <li>
                Printouts
                <ul>
                    <li>
                        <a asp-page="/Print/FCE/Index" asp-route-id="401">FCE</a>
                    </li>
                    <li>
                        <a asp-page="/Print/ACC/Index" asp-route-id="5002">ACC</a>
                    </li>
                    <li>
                        <a asp-page="/Print/SourceTest/Index" asp-route-referenceNumber="201100541">Source Test</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
