@page
@model IndexModel
@{
    ViewData["Title"] = "Air Web Application";
}

<h1>@ViewData["Title"]</h1>

<div class="card mt-4 border-info shadow">
    <div class="card-header text-bg-info">
        <h2 class="h5">Some helpful temporary development links</h2>
    </div>
    <div class="card-body">
        <h3>Staff pages</h3>
        <ul>
            <li>
                FCEs
                <ul>
                    <li>
                        <a asp-page="/Compliance/FCE/Index">FCE search page</a>
                    </li>
                    <li>
                        <a asp-page="/Compliance/FCE/Add" asp-route-facilityId="001-00001">Add new FCE</a>
                    </li>
                </ul>
            </li>
            <li>
                Compliance Work Entries
                <ul>
                    <li>
                        <a asp-page="/Compliance/Work/Index">Compliance Work search page</a>
                    </li>
                    <li>
                        <a asp-page="/Compliance/Work/ACC/Add" asp-route-facilityId="001-00001">Add new ACC</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-page="/Account/Index">Account page</a>
            </li>
            <li>
                <a asp-page="/Admin/Users/Index">All users</a>
            </li>
            <li>
                <a asp-page="/Admin/Maintenance/Index">Site maintenance</a>
            </li>
        </ul>

        <h3>Public pages</h3>
        <ul>
            <li>
                Add links to useful public pages.
            </li>
            <li>
                @* ReSharper disable once Html.PathError *@
                <a href="api-docs/">API docs</a>
            </li>
        </ul>

    </div>
</div>
