@page
@model IndexModel
@{
    ViewData["Title"] = "Air Branch Web Application";
}

<h1>@ViewData["Title"]</h1>

<div class="card mt-4 border-info shadow">
    <div class="card-header text-bg-info">
        <h2 class="h5">Some helpful temporary testing links</h2>
    </div>
    <div class="card-body">
        <ul>
            <li>
                <a asp-page="/Facility/Index">List of test facilities</a>
            </li>
            <li>
                <a asp-page="/Compliance/FCE/Index">FCE search page</a>
            </li>
            <li>
                <a asp-page="/Compliance/Work/Index">Compliance Work search page</a>
            </li>
            <li>
                <a asp-page="/Account/Index">Your account page</a>
            </li>
            <li>
                <a asp-page="/Admin/Users/Index">All users</a>
            </li>
            <li>
                <a asp-page="/Admin/Maintenance/Index">Site maintenance</a>
            </li>
        </ul>
    </div>
</div>
