@page
@using AirWeb.AppServices.Compliance.WorkEntries.Search
@using AirWeb.AppServices.Enforcement.Search
@model IndexModel
@{
    ViewData["Title"] = "Air Branch Web Application";
}

<vc:notifications />

<h1>@ViewData["Title"]</h1>

@if (Model.IsComplianceStaff)
{
    <div class="card mt-4">
        <div class="card-header">
            <h2 class="h5">Compliance work</h2>
            <div><em>Most recent open compliance work assigned to you</em></div>
            <h3 class="h6"></h3>
        </div>
        <div class="card-body">
            @if (Model.ComplianceWork.Count > 0)
            {
                <partial name="Shared/CompliancePartials/_WorkEntrySearchTable" model="(Model.ComplianceWork, (WorkEntrySearchDto?)null)" />
            }
            else
            {
                @:None
            }
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2 class="h5">Enforcement cases</h2>
            <div><em>Most recent open enforcement cases assigned to you</em></div>
        </div>
        <div class="card-body">
            @if (Model.CaseFiles.Count > 0)
            {
                <partial name="Shared/CompliancePartials/_CaseFileSearchTable" model="(Model.CaseFiles, (CaseFileSearchDto?)null)" />
            }
            else
            {
                @:None
            }
        </div>
    </div>
    
    // Source tests assigned
}

@if (Model.IsComplianceManager)
{
    <div class="card mt-4">
        <div class="card-header">
            <h2 class="h5">Office compliance work</h2>
            <div><em>Most recent open compliance work assigned to your office</em></div>
        </div>
        <div class="card-body">
            @if (Model.OfficeComplianceWork.Count > 0)
            {
                <partial name="Shared/CompliancePartials/_WorkEntrySearchTable" model="(Model.OfficeComplianceWork, (WorkEntrySearchDto?)null)" />
            }
            else
            {
                @:None
            }
        </div>
    </div>

    // Office source tests assigned
}

@if (Model.IsEnforcementReviewer)
{
    <div class="card mt-4">
        <div class="card-header">
            <h2 class="h5">Office enforcement cases</h2>
            <div><em>Most recent open enforcement cases assigned to your office</em></div>
        </div>
        <div class="card-body">
            @if (Model.OfficeCaseFiles.Count > 0)
            {
                <partial name="Shared/CompliancePartials/_CaseFileSearchTable" model="(Model.OfficeCaseFiles, (CaseFileSearchDto?)null)" />
            }
            else
            {
                @:None
            }
        </div>
    </div>
}
