@page
@model UnderConstruction
@{
    ViewData["Title"] = "Under Construction";
}
<h1>Coming Soon!</h1>
<p>The page you're trying to find is still under construction.</p>
<img alt=""
     src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDVlbnFjNmJzdGh0bW9qZnFrZmlmNWM1dGxnNWdxbTBpOGRtZ29jNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/H507FAblMbfFGz0zeb/giphy.gif" />
