@using GaEpd.AppLibrary.Extensions
@model (AirWeb.AppServices.Compliance.Search.WorkTypeSearch WorkType, bool IsChecked)

<div class="form-check">
    <input class="form-check-input" name="Spec.Include" type="checkbox" value="@Model.WorkType"
           id="Include_@Model.WorkType" checked="@Model.IsChecked" />
    <label class="form-check-label" for="Include_@Model.WorkType">
        @Model.WorkType.GetDescription()
    </label>
</div>
