/* Branding colors
-------------------------------------------------- */

:root, [data-bs-theme="light"] {
    --base-hue: 275deg;
    --callout-link: 10, 88, 202;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

/* Light mode theme colors */

.navbar {
    background-color: hsl(var(--base-hue), 73%, 23%);
    color: hsl(var(--base-hue), 0%, 100%);
}

.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show {
    color: hsl(var(--base-hue), 0%, 100%);
}

.navbar .navbar-brand:focus-visible,
.navbar .nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem hsla(var(--base-hue), 0%, 100%, .57);
}

.navbar .nav-link {
    color: hsl(var(--base-hue), 0%, 100%)
}

.navbar .nav-link.border {
    border-color: hsl(var(--base-hue), 0%, 60%) !important;
}

.navbar .navbar-brand:focus-visible, .navbar .nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem hsla(var(--base-hue), 0%, 100%, .57)
}

.navbar .navbar-toggler {
    color: hsla(var(--base-hue), 0%, 100%, 0.7);
    border-color: hsla(var(--base-hue), 0%, 100%, 0.15);
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.65%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Dark mode theme colors */

[data-bs-theme="dark"] {
    --bs-body-bg: #25292d;
    --callout-link: 110, 168, 254;
}

[data-bs-theme="dark"] .navbar {
    background-color: hsl(var(--base-hue), 42%, 23%);
    color: hsl(var(--base-hue), 0%, 100%);
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
