@page "{handler?}"
@using AirWeb.AppServices.Enforcement.Search
@using AirWeb.WebApp.Platform.PageModelHelpers
@model Enforcement.IndexModel
@{
	ViewData["Title"] = "Enforcement Search";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
	<div class="row">
		<div class="p-3 rounded-3 bg-light-subtle border col-lg-9">
			<div class="text-body-secondary pb-2">
				<em>All fields are optional</em>
			</div>
			<form method="get" asp-page-handler="Search" asp-fragment="SearchResults">
				<div class="form-floating">
					<select asp-for=""
				</div>
			</form>
		</div>
	</div>
</div>
