@model AirWeb.AppServices.ExternalEntities.Facilities.FacilityViewDto

<a asp-page="/Facility/Details" asp-route-id="@Model.Id"
   class="link-underline link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2">
    <partial name="Shared/CompliancePartials/_FacilityAirsName" />
</a>
