@model AirWeb.WebApp.Models.PaginatedResultsDisplay

<div class="container px-0 py-2">
    <div class="row">
        <div class="small col-md text-secondary-emphasis">
            <partial name="Shared/_PaginationCount" model="Model.SearchResults" />
        </div>
        <div class="col-md mt-3 mt-md-0">
            <partial name="Shared/_PaginationNav" model="Model" />
        </div>
        <div class="col-md"></div>
    </div>
</div>
