@model AirWeb.WebApp.Models.PaginatedResultsDisplay

<div class="container px-0 py-2">
    <div class="row">
        <div class="small col-md mt-3 text-secondary-emphasis">
            Total: @Html.DisplayFor(_ => Model.SearchResults.TotalCount)
            @if (Model.SearchResults.TotalPages > 1)
            {
                <br />
                @:Showing: @Model.SearchResults.FirstItemIndex.ToString() – @Model.SearchResults.LastItemIndex.ToString()
            }
        </div>
        <div class="col-md">
            <partial name="Shared/_PaginationNav" />
        </div>
        <div class="col-md"></div>
    </div>
</div>
