<div class="col-12 col-md-2 order-2 order-md-3 d-print-none">
    <div class="sticky-md-top pt-2" id="toc-container">
        <div class="pb-2 d-grid d-md-none">
            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#toc" aria-expanded="false" aria-controls="toc">
                On This Page
            </button>
        </div>
        <h6 class="h5 d-none d-md-block no-anchor">On This Page</h6>
        <div class="list-group list-group-flush collapse d-md-block" id="toc"></div>
    </div>
</div>
