<div class="col-12 col-md-3 order-0 order-md-1 mb-2 mb-md-0 d-print-none sticky-md-top" id="toc-container">
    <div class="pb-2 d-grid d-md-none">
        <button class="btn btn-outline-info btn-sm" data-bs-toggle="collapse" data-bs-target="#toc" aria-expanded="false" aria-controls="toc">
            On this page
        </button>
    </div>
    <h6 class="d-none d-md-block no-anchor px-1">On this page</h6>
    <div class="list-group list-group-flush collapse d-md-block" id="toc"></div>
</div>
