@page "{handler?}"
@model SourceTestIndexModel
@{
    ViewData["Title"] = "Source Tests Needing Compliance Review";
}

<h1>@ViewData["Title"]</h1>

@if (Model.SearchResults.TotalCount == 0)
{
    <p class="lead text-info">No open source tests found.</p>
}
else
{
    <partial name="Shared/_PaginationNavAndCount" model="Model.ResultsDisplay" />
    <partial name="Shared/CompliancePartials/_SourceTestsTable" model="Model.SearchResults.Items" />
    <partial name="Shared/_PaginationNav" model="Model.ResultsDisplay" />
}
